html {

  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  font-family: sans-serif;
  font-size: 26px;
  margin : 0;
  height: 100%;


  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  text-rendering: optimizeSpeed;

  overflow-y: scroll;

  /*color: #ffffff;*/
  color: #222;
}


*, *::before, *::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }


body {
  position: relative;
  margin: 0;
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }



.fixed,
.background {
  position: fixed !important;
  top: 0;
  opacity: 0.4;
  width: 100%;
  height: 200%;
}

.background-1 {
  position: absolute;
  background-image: url(bubbles.png);
  top:0;
  width: 100%;
  height: 100%;
}

.background-2 {
  position: absolute;
  background-image: url(bubbles2.png);
  top:0;
  width: 100%;
  height: 100%;
}
.background-3 {
  position: absolute;
  background-image: url(bubbles3.png);
  top:0;
  width: 100%;
  height: 100%;
}

.page {
  /*position: relative;*/
  height: 100%;
  min-height: 100%;
  /*padding-bottom: 3em;*/
 }

.header {
  height: 100%;
  background-color: #222;
  color: white;
  /*padding-top: 30%;*/

  padding: 4%;

}

.header {
  padding-top: 6%;
  line-height: 2;
}

.header h1 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  display: block;
  /*font-weight: normal;*/
  font-size: 17vw;
}

.parallux-container {
  position: relative;

  -webkit-perspective: 500px;
     -moz-perspective: 500px;
          perspective: 500px;

}

.parallux-item {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: preserve-3d;

}

.overflow-hidden {
  /*height: 600px;*/
  overflow: hidden;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

.block{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.block::after {
  content: '';
  display: table;
  clear: both;
}

.left {
  float: left;
  width: 50%;
  padding: 2%;
}

.right {
  float: right;
  width: 50%;
  padding: 2%;
}

footer{
  padding-top: 3em;
  padding-bottom: 3em;
}

section{
  /*height: 100%;*/
  padding-top: 6%;
  padding-bottom: 6%;


  /*margin-bottom: 2em;*/
}

@media screen and (max-width: 580px){
  .left {
    float: none;
    display: block;
    width: 100%;
    padding: 2%;
  }

  .right {
    float: none;
        display: block;
        width: 100%;
    padding: 2%;
  }
}

.blue{
  // background-color: #53b2e5;
 background-color: rgba(83, 178, 229, 0.1);
}

.dark {
  // background-color: #31343c;
  background-color: rgba(49, 52, 60, 0.1)
}

.orange {
 // background-color: #e26a6a;
 background-color: rgba(226, 106, 106, 0.1);
}
